# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Elasticsearch data
# =========================
data/
esdata/
elasticsearch-data/

# =========================
# Docker volumes
# =========================
volumes/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.pid

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.vscode/
.idea/

# =========================
# Docker overrides
# =========================
docker-compose.override.yml/
